@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
	--color-paloma-ink: #a71c6f;
	--color-paloma-pink: #ef4caf;
	--color-paloma-magenta: #a40082;
	--color-paloma-muted: #817781;

	--color-paloma-purple: #97027b;
	--color-paloma-navy: #14234e;
	--color-paloma-orange: #c97a1f;
	--color-paloma-teal: #0b9598;
	--color-paloma-green: #19804d;
	--color-paloma-mint: #b3f2c9;
	--color-paloma-berry: #b0264f;
	--color-paloma-white: #ffffff;
	--color-paloma-blush: #fdf6fb;
	--color-paloma-lavender: #e6dff2;
	--color-paloma-dark: #413c3f;

	--font-sans: "Manrope", sans-serif;
}

html, body { min-height: 100%; margin: 0; }
body { background: #fff8fc; }
